@import url('https://fonts.cdnfonts.com/css/bonus-giant');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Bonus Giant', sans-serif;
  font-weight: 400;
}

body {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

a {
  text-decoration: none;
  transition: 0.5s;
}

.line {
  height: 20px;
  width: 2px;
  background-color: black;
}

.newBook h1 {
  margin-bottom: 20px;
  margin-top: 5px;
  padding-left: 20px;
  color: coral;
}

#titleSection h1 {
  text-align: start;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 50px;
  margin-left: 3%;
  color: coral;
}

#titleSection.active {
  display: none;
}

#main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#newScores {
  margin: 5px;
  margin-left: 15%;
}

.newBook,
#books-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#books {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 150px;
  margin-bottom: 15px;
  border: 2px solid black;
  padding: 3px;
}

#refreshDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: coral;
}

#add,
#refresh {
  width: 70px;
  box-shadow: 3px 3px black;
  font-family: 'Bonus Giant', sans-serif;
  font-weight: 600;
  background-color: white;
  border-radius: 4px;
  cursor: pointer;
  padding: 3px;
}

#add:hover,
#refresh:hover {
  background-color: coral;
  color: #0a0a0a;
}

table {
  border: 2px solid coral;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}

li {
  list-style: none;
}

ul li {
  list-style: disc;
}

li:nth-child(even) {
  background-color: rgb(217, 219, 223);
}

li:nth-child(odd) {
  background-color: #faf8f8;
}

#score-list li {
  display: flex;
  gap: 10px;
  padding: 7px 10px;
}

.bookHr {
  box-sizing: border-box;
  border: 1px solid #0d151e;
  width: 100px;
  height: 2px;
  border-radius: 10px;
  margin: 10px;
}

.high-score {
  display: flex;
  flex-direction: column;
  color: coral;
  margin-top: 40px;
  align-items: center;
  font-size: 24px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  background-color: aliceblue;
  width: 130px;
  height: 60px;
  border: 2px solid coral;
  color: #0a0a0a;
  font-size: 25px;
}

@media only screen and (min-width: 768px) {
  input {
    width: 180px;
    padding: 5px;
    border: 2px solid black;
  }
}
