* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

a {
  text-decoration: none;
  transition: 0.5s;
}

.line {
  height: 20px;
  width: 2px;
  background-color: black;
}

.newBook h1 {
  margin-bottom: 20px;
  margin-top: 5px;
  padding-left: 20px;
}

#titleSection h1 {
  text-align: start;
  margin-bottom: 20px;
  margin-top: 30px;
  font-size: 50px;
  margin-left: 3%;
}

#titleSection.active {
  display: none;
}

#main {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#newScores {
  margin: 5px;
  margin-left: 15%;
}

.newBook,
#books-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#books {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 150px;
  margin-bottom: 15px;
  border: 2px solid black;
  padding: 3px;
}

#refreshDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

#add,
#refresh {
  width: 70px;
  box-shadow: 3px 3px black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
  background-color: white;
  cursor: pointer;
  padding: 3px;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 10px;
}

#score-list li {
  display: flex;
  gap: 10px;
  padding: 7px 10px;
}

li:nth-child(odd) {
  background-color: #e4e4e4;
}

li {
  list-style: none;
}

.bookHr {
  box-sizing: border-box;
  border: 1px solid #0d151e;
  width: 100px;
  height: 2px;
  border-radius: 10px;
  margin: 10px;
}

ul li {
  list-style: disc;
}

@media only screen and (min-width: 768px) {
  input {
    width: 180px;
    padding: 5px;
    border: 2px solid black;
  }
}
